/* fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Roboto";
  font-size: 16px;
  background-color:  #e5e5e5;
  color: #000;
  line-height: 16.41px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr--black);
  display: block;
}

li {
  list-style-type: none;
}

.stepper__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stepper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.stepper__list {
  width: 185px;
  background: linear-gradient(
    180deg,
    #686868 0%,
    #b3b3b3 50.52%,
    #686868 100%
  );
  transition: all 0.7s ease;
}

.stepper__list > .stepper__link {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

.stepper__list:first-child {
  clip-path: polygon(97% 0%, 100% 50%, 97% 100%, 0% 100%, 0 50%, 0% 0%);
}

.stepper__list:nth-child(2) {
  clip-path: polygon(97% 0%, 100% 50%, 97% 100%, 0% 100%, 3% 50%, 0% 0%);
}

.stepper__list:nth-child(3) {
  clip-path: polygon(100% 1%, 100% 50%, 100% 100%, 0% 100%, 3% 50%, 0% 0%);
}

.stepper__link:hover {
  background: linear-gradient(
    180deg,
    #2ea239 0%,
    #62fd71 50.52%,
    #2ea139 100%
  );
  color: #fff;
  text-shadow: 0 0 2px #000;
}
