/* fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Roboto";
  font-size: 1rem;
  color:#000;
  line-height: 16.41px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr--black);
  display: block;
}

li {
  list-style: none;
}

input {
  border: 1px solid transparent;
  outline: 1px solid transparent;
}

input:focus {
  border: 1px solid #9c9c9c;
}

.form {
  background-color: #9c9c9c;
  width: 25rem;
  padding: 1.25rem;
  border: 1px solid #616161;
}

.form--heading {
  position: relative;
  padding: 0.625rem 0;
  margin-bottom: 1.25rem;
}

.form--heading::after {
  content: "";
  position: absolute;
  width: 25rem;
  background-color:#c4c4c4
  ;
  height: 1px;
  display: block;
  bottom: -1.25rem;
  left: -1.25rem;
}

.labels {
  display: block;
  padding-top: 1.25rem;
  margin-bottom: 0.5rem;
  color: #3a3a3a;
}

.form--input {
  width: 100%;
  padding: 0.3rem;
  border-radius: 3px;
}

.form--password {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0 0.3rem 0.2rem;
  border-radius: 3px;
}

.form--ages {
  margin-bottom: 1.25rem;
  position: relative;
}

.form--ages::after {
  content: "";
  position: absolute;
  width: 400px;
  background-color:#c4c4c4
  ;
  height: 1px;
  display: block;
  bottom: -1.25rem;
  left: -1.25rem;
}

.btns {
  padding-top: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 0.5rem 0.75rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s linear;
}

.btns--submit {
  background-color: #616161;
  color:  #cccccc;
}

.btns--submit:hover {
  background-color:  #302e2e;
  color: #fff;
}

.btns--reset {
  background-color:  #cccccc;
  color: #616161;
}

.btns--reset:hover {
  background-color: #302e2e;
  color:  #cccccc;
}
